<!DOCTYPE html>
<html ng-app="Storagon" class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storagon</title>

    {# font #}
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' />

    {# css #}
    <link rel="stylesheet" href="/static/assets/frontend/css/foundation.min.css" />
    <link rel="stylesheet" href="/static/assets/frontend/css/font-awesome.min.css" />    
    <link rel="stylesheet" href="/static/assets/frontend/css/style.css" />
    <link rel="shortcut icon" href="/static/assets/frontend/images/icons/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
              (function(i, s, o, g, r, a, m){i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function(){
              (i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date(); a = s.createElement(o),
                      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
              })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
              ga('create', 'UA-62259564-1', 'auto');
              ga('require', 'linkid', 'linkid.js');    
    </script>
  </head>  
  <body>
    {% include "storagon_main/external_layout/header.html" %}
    <div class="container show">
      <section class="content">        
        <div class="row padding-top-30">
          <div class="small-12 columns">
            <div class="panel" id="payment-fail">
              <h4 class="text-center">Your Payment was failed</h4>
              <p>We are sorry, but your current payment method could not be processed due to some reasons. 
              <p>The only thing we really know is that the credit card declined the charge.  They do not provide any more information than this.  It can be for any of the following reasons:</p>
              <ol>
                <li>You typed a number wrong</li>
                <li>You chose an incorrect expiration date</li>
                <li>There is some kind of a fraud hold on the card. This happens sometimes when the credit card company sees a transaction they don't believe fits your normal buying pattern and they are worried that it might be fraud</li>
                <li>There is some other type of problem with the credit card account. For example, a restriction placed on it by the credit card company that it may not be used outside your country, or insufficient funds available</li>                
              </ol>
              <p>With 1 or 2, you can try to submit the order again. With 3 or 4, you will probably need to call your credit card company and ask them why the charge was declined</p>
              <p>Please contact your financial institution. We reserved your items for you for the next few minutes and look forward to you receiving them soon</p>
            </div>
          </div>         
        </div>
      </section>
      {% include "storagon_main/external_layout/footer.html" %}
    </div>    
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    {# javascript #}
    <script src="/static/assets/frontend/js/vendor/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/static/assets/frontend/js/foundation/foundation.min.js"></script>  
    <script type="text/javascript">
      var _gaq = _gaq || [];
      var pluginUrl =
      '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-62259564-1']);
      _gaq.push(['_setDomainName', 'storagon.com']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[3]; s.parentNode.insertBefore(ga, s);
      })();
      $(document).ready(function () {
        if(navigator.appName === "Microsoft Internet Explorer"){
          $('#modal-notice-browser').foundation('reveal', 'open');
        }
      });
    </script>
  </body>
</html>