<header class="">
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
      var $_Tawk_API={},$_Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/555555f1e193f463706f0235/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
  </script>
  <!--End of Tawk.to Script-->
  <div class="top" ng-controller="headerController">
    <div class="row">
      <div class="small-12 large-3 medium-3 columns">
        <div class="logo">
          <a href="/#/" title=""><img src="/static/assets/frontend/images/logo.png" alt="" title=""/></a>
        </div>
      </div>
      <div class="small-12 large-9 medium-9 columns">
        <nav class="desktop-menu">
          <ul class="sf-menu">
            {% if not user.is_authenticated %}
            <li>
              <a href="/#/" target="_blank">Home</a>
            </li>
            {% endif %}            
            {% if user.is_authenticated %}
            <li class="has-dropdown">
              <a href="/#/account" target="_blank">Account</a>
              <ul class="dropdown">
                  <li><a href="/#/account" target="_blank">Overview</a></li>
                  <li><a href="/#/profile" target="_blank">Profile</a></li>
                  <li><a href="/#/billing" target="_blank">Billing history</a></li>
                  <li><a href="/#/statistic" target="_blank">Statistic</a></li>
                  <li><a href="/#/inbox" target="_blank">Inbox</a></li>
                  <li><a href="/#/report" target="_blank">Report</a></li>
                  <li><a href="/#/redeem" target="_blank">Redeem</a></li>
              </ul>
            </li>
            <li>
              <a href="/#/fm2" target="_blank">File Manager</a>
            </li>            
            {% else %}
            <li>
              <!--<a href="javascript:void(0)" id="login-button">Login</a>-->
                <a href="/#/login" id="login-button">Login</a>
            </li>
            <li>
              <!--<a href="javascript:void(0)" id="signup-button">Register</a>-->
                <a href="/#/signup" id="signup-button">Register</a>
            </li>
            {% endif %}
            <li>
              <a href="/#/premium" target="_blank">Premium</a>
            </li>
            <li>
               <a href="/download-tool" target="_blank">Tool</a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="/#/logout" target="_blank">Logout</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>