<div class="container">
  <div class="section-header login-form"><img src="/static/assets/frontend/images/img-login.png">
    <h1 ng-show="showLogin">Login</h1>
    <h1 ng-hide="showReset">Reset Password</h1>
  </div>
  <div id="login-box-container">
    <div class="row">
      <div class="col-xs-12 col-md-7 col-md-offset-2">
        <div class="login-form" ng-show="showLogin">
          <form class="form-horizontal" id="login_form" name="login_form" ng-submit="login_form.$valid && processLoginForm()">
            <div class="form-group">
              <label for="username" class="col-xs-12 col-sm-2 control-label">Username:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" size="50" ng-model="username" required/>
              </div>
            </div> 
            <div class="form-group">
              <label for="password" class="col-xs-12 col-sm-2 control-label">Password:</label>
              <div class="col-sm-10">
                <input type="password" id="password" class="form-control" name="password" size="20" ng-model="password" required/>
              </div>
            </div>           
            <div class="form-group col-xs-12 col-md-push-5" id="nameHelpText">
              <a href="javascript:void(0)" class="reset-pass-link">Forgot username or password ?</a>
            </div>
            <div class="form-group col-xs-12 col-md-push-6">
              <button type="submit" class="btn btn-default btn-lg" ng-disabled="isProcessing">Log in</button>
            </div>
          </form>                
<!--          <div class="loader">
            <img id="loading-image" src="/static/assets/frontend/images/ajax-spinner.gif" alt="Loading..." />
          </div>-->
        </div>
        <div class="login-form" ng-show="showReset">
	        <form id="reset_form" name="reset_form" ng-submit="reset_form.$valid && processResetForm()">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" size="50" ng-model="email" required/>
                </div>
	            <div class="form-group">
                    <p id="emailHelpText"><a href="javascript:void(0)" class="reset-pass-link">Back to login</a></p>
	                <input type="submit" class="btn btn-success" value="Reset Password" ng-disabled="isProcessing"/>
                </div>
	        </form>
	        <div class="loader">
	          <img id="loading-image" src="/static/assets/frontend/images/loading.gif" alt="Loading..." />
	        </div>
        </div>

      </div>
    </div>
  </div>
  <div ng-include src="'/static/assets/frontend/app_junshare/layout/modals.html'"></div>

  <style>
    html, body {
      background: white !important;
    }
  </style>
</div>