<div id="panel">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="javascript:void(0)">
            <i class="fa fa-exchange size-14"></i>File Transfer</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form show-for-large-up">
          <a href="javascript:void(0)" id="cancel-all-progress">
            <i class="fi fi-stop size-14"></i>
          </a>
        </li>
        <li class="has-form show-for-large-up">
          <a href="javascript:void(0)" id="show-hide-panel">
            <i class="fi fi-arrows-compress size-14"></i>
          </a>
        </li>
      </ul>
    </section>
  </nav>
  <table id="upload-progress">
    <thead>
      <tr><th width="40%">File name</th>
        <th width="10%">File size</th>
        <th width="30%">Progress</th>
        <th>Status</th>
        <th width="2%">Action</th></tr>
    </thead>
    <tbody></tbody>
  </table>
</div>