{% extends "custom_admin_site/custom_site_base.html" %}
{% load i18n admin_static %}

{% block navigator_menu %}
    <li class="active"><a href="{% url 'AT_checkAttendance' %}">{% trans 'Check Attendance' %}</a></li>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/modules/heatmap.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>

<script type="text/javascript" src="/adl/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.js"></script>
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.min.css" />
<link rel='stylesheet' href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.2/fullcalendar.print.css" />

<script type="text/javascript">
    var username = "{{username}}";
    var postProcessData = {{ postProcessData | safe}};
    var rawData = {{ rawData | safe}};
    var noteDict = {{ noteDictJSON | safe}};
    var month = {{month}};
    var year = {{year}};

    var first_week_day = {{ first_week_day }};
    var last_month_day = {{ last_month_day }};

    var dataHourDict = {};
    var marked = {};
    var arrayDataDayHour = [];
    var dateCountDict = {};


    var calendarEventData = [];

    for(i in rawData){
        var text = rawData[i][1];
        calendarEventData.push({
            title: text,
            start: rawData[i][0]
        });
    }

    var heatmapArrayDateTime=[];

    for(var i=0;i<last_month_day;i++){
        week_day = (first_week_day+i)%7;
        num_week = Math.floor((first_week_day+i)/7);
        heatmapArrayDateTime.push([week_day,num_week, '']);


    }

    var lineChartArrayDay = [];
    var lineChartArrayHour = [];

    for(i in postProcessData){
        data = postProcessData[i]
        d = data[0];
        h = data[1];
        m = data[2];
        postfix ='AM';

        hourfix=h;
        if(h>=12)postfix='PM';
        if(h>12)hourfix=h-12;

        postfix2 =':00';
        if(m>15 && m<30)postfix2=':15';
        if(m>=30 && m<45)postfix2=':30';
        if(m>=45)postfix2=':45';
        var key = hourfix+postfix2+postfix;
        count=dataHourDict[key];
        if(count == undefined)count=0;
        count++;
        dataHourDict[key]=count;

        arrayDataDayHour.push([d,h]);

        heatmapArrayDateTime[d-1][2]=h;

        lineChartArrayDay.push((d)+'/'+month);

        lineChartArrayHour.push(h+m/60);

    }
    var pieChartArrayDataHour = new Array(); //[['Hour',  'Attendance']];
    for(key in dataHourDict){
        pieChartArrayDataHour.push([key,dataHourDict[key]]);///postProcessData.length
    }



    $(function () {
    $('#piechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: username +' attendance % by block. Total= '+postProcessData.length+' , Date=' + month + '/' +year
        },
        tooltip: {
            formatter: function () {
                return this.point.name+': '+this.y + ' attend. '+this.series.name;
            }
//            pointFormat: '{series.name} of {point.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y} att, {point.percentage:.1f}%',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Block 15 mins',
            data: pieChartArrayDataHour

        }]
    });
});




</script>


<script type="text/javascript">


     $(function () {
    $('#linechart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Attendance Line Chart'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: lineChartArrayDay
        },
        yAxis: {
            title: {
                text: 'Time'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true,
                    format: '<b>{y:.1f}</b>'
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: username,
            data: lineChartArrayHour
        }
//            , {
//            name: 'London',
//            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
//        }
        ]
    });
});

</script>

<script type="text/javascript">
    $(function () {

    $('#heatmap').highcharts({

        chart: {
            type: 'heatmap',
            animation: false,
            marginTop: 40,
            marginBottom: 80
        },


        title: {
            text: 'Attendance of '+ username +' per weekday'
        },

        xAxis: {
            categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday','Sunday'],
            title: 'Day'
        },

        yAxis: {
            categories: ['Week1', 'Week2', 'Week3', 'Week4', 'Week5'],
            title: 'Week',
//            max: 5,
            reversed: true
        },

        colorAxis: {
            min: 0,
            max: 12,
            minColor: '#FFFFFF',
            maxColor: '#006699'
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'top',
            y: 25,
            symbolHeight: 280
        },

        tooltip: {
            formatter: function () {
                var day = this.point.y*7 + this.point.x - first_week_day +1;
                return '<b> '+username+'</b> go to work at <br/><b>' +
                    this.point.value + ':00 </b> on <b>' + day + '/' + month + '/' + year
                    + "<br/>Note: <b>" + noteDict[day] + "</b>";
            }
        },

        series: [{
            name: 'Attendance of employee',
            borderWidth: 1,
            data: heatmapArrayDateTime,
            dataLabels: {
                enabled: true,
                color: '#000000',
                formatter: function () {
//                    console.log(this.point);
                    var day = this.point.y*7 + this.point.x - first_week_day +1;
                    if(noteDict[day]){
                      this.point.color = "rgb(255,0,0)";
                      return this.point.value+" (note)";
                    } else return this.point.value;
                }
            }
        }]

    });
});

</script>
<script type="text/javascript">


	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
            firstDay: 1, //monday
            fixedWeekCount: false,
            defaultDate: '{{to_date}}',
			eventLimit: true, // allow "more" link when too many events
			events: calendarEventData,
            eventColor: '#378006',
//            eventBackgroundColor: 'blue',
            eventClick: function(calEvent, jsEvent, view) {
                if(calEvent.title.length>15)alert('Note: ' + calEvent.title);
                // change the border color just for fun
//                $(this).css('border-color', 'red');
            }
		});
//        console.log(calendarEventData);
	});


</script>
{% endblock %}


{% block content %}
  <div id="content-main">
    <form>
        <label>Username:</label>
        <input type="text" name="username" value="{{username}}"><br/>
        <label>Device:</label>
        <select name="device_id">
            <option value="">Not Select</option>
            {% for log_device_id in deviceIDList %}
            <option value="{{log_device_id}}" {% if log_device_id = device_id %} selected {% endif %}>{{log_device_id}}</option>
            {% endfor %}
        </select><br/>
        <select name="tzname">
            <option value="Asia/Bangkok">Asia/Bangkok</option>
            <option value="UTC">UTC</option>
        </select><br/>
        <div class="input-append suit-date"><input class="vDateField input-small " id="to_date" name="to_date" placeholder="Date" size="10" type="text" value="{{to_date}}">
            <span class="datetimeshortcuts"><a href="javascript:DateTimeShortcuts.openCalendar(0);" id="calendarlink0"><img src="/static/admin/img/icon_calendar.gif" alt="Calendar"></a>
            </span>
            <span class="add-on"><i class="icon-calendar"></i>
            </span>
        </div>

        <input type="submit" value="Show" class="btn btn-small">
    </form>
      <div id='calendar'></div>
      <!--<div id="heatmap" style="width: 800px; height: 400px;"></div>-->
      <div id="linechart" style="width: 800px; height: 400px;"></div><br/>
      <div id="piechart" style="width: 800px; height: 400px;"></div>


  </div>
{% endblock %}


{% block sidebar %}
  <!--<div id="content-related">-->
    <!--<div id="piechart2" style="width: 450px; height: 250px;"></div>-->
  <!--</div>-->
{% endblock %}
