<div id="panel">
  <div id="upload-panel">
    <div class="pull-left">
      <a href="javascript:void(0)" id="upload-panel-info">
          <span class="glyphicon glyphicon-triangle-top"></span>File Transfer
      </a>
    </div>
    <div class="pull-right">
	      <a href="javascript:void(0)" id="pause-all-progress" class="text-danger">
	        <span class="glyphicon glyphicon-pause"></span>
	      </a>
	      <a href="javascript:void(0)" id="resume-all-progress" class="text-danger">
	        <span class="glyphicon glyphicon-play"></span>
	      </a>

	      <a href="javascript:void(0)" id="show-hide-panel" class="text-danger">
	        <span class="glyphicon glyphicon-resize-full"></span>
	      </a>
	</div>
  </div>
  <div style="padding-right: 20px;padding-left: 20px;">
  <table id="upload-progress" class="table table-striped">
    <thead>
      <tr class="active success">
        <th width="40%">File name</th>
        <th width="10%">File size</th>
        <th width="30%">Progress</th>
        <th>Status</th>
        <th width="2%">Action</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  </div>
</div>
